<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pp_css.css">
    <link rel='stylesheet' type='text/css' href='/css/pp_css.css' />
    <title>Profile Page</title>
</head>
<body>
    <div class="grid">
        <header class="header">
          <i class="fas fa-bars header__menu"></i>
          <div class="header__search">
            <input class="header__input" placeholder="Search..." />
          </div>
          <div class="header__avatar">
            <div class="dropdown">
              <ul class="dropdown__list">
                <li class="dropdown__list-item">
                  <span class="dropdown__icon"><i class="far fa-user"></i></span>
                  <a href="/profile"><span class="dropdown__title">my profile</span></a>
                </li>
              </li><li class="dropdown__list-item">
                <span class="dropdown__icon"><i class="far fa-user"></i></span>
                <a href="/dashboard"><span class="dropdown__title">Dashboard</span></a>
              </li>
                <!-- <li class="dropdown__list-item">
                  <span class="dropdown__icon"><i class="fas fa-clipboard-list"></i></span>
                  <span class="dropdown__title">my account</span>
                </li> -->
                <li class="dropdown__list-item">
                  <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
                  <a href="https://penguindocketing.webflow.io/"><span class="dropdown__title">log out</span></a>
                </li>
              </ul>
            </div>
          </div>
        </header>
        <main class="main">
          <div class="main-header-profilePage">
            <div class="main-header__intro-wrapper">
              <div class="main-header__welcome">
                <div class="main-header__welcome-title text-light"><strong>Profile</strong></div>
                <!-- <div class="main-header__welcome-subtitle text-light">How are you today?</div> -->
              </div>
              <div class="quickview">
                <div class="quickview__item">
                  <div class="quickview__item-total">5</div>
                  <div class="quickview__item-description">
                    <i class="far fa-calendar-alt"></i>
                    <span class="text-light">Active Cases</span>
                  </div>
                </div>
                <div class="quickview__item">
                  <div class="quickview__item-total">12</div>
                  <div class="quickview__item-description">
                    <i class="far fa-comment"></i>
                    <span class="text-light">New Notifications</span>
                  </div>
                </div>
                <div class="quickview__item">
                  <div class="quickview__item-total">Today's Date</div>
                  <div class="quickview__item-description">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="text-light">Happy Working!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <style>
              *{
              	box-sizing: border-box;
              }
              </style>
        <div class="main-overview">
          <div class="overviewCard">
            <div class="overviewCard-icon--document">
               <i class="far fa-file-alt"></i>
            </div>
            <div class = 'left_div'>
              <h3 class="overviewCard-title text-light">  Name: <strong><%=data[0].firstname%> </strong></h3>
              <p>  Email: <span class="overviewCard-subtitle">Brian.Ellis@kirkland-ellis.com </span></p>
              <div class="openBtn">
                <button class="openButton" onclick="openForm()"><strong>Edit</strong></button>
              </div>
              </div>

            <div class="overviewCard-description">
              <h3 class="overviewCard-title text-light"> Address:</h3>
              <p class="overviewCard-subtitle" href = "">175 Regent Administrative Center<br>
                  41 UCB Boulder, CO 80309-0041</p>
            </div>
          </div>

          </div>

          <div class="loginPopup">
            <div class="formPopup" id="popupForm">
              <form action="/profilePage" class="formContainer">
                <h2>Edit Profile Information</h2>
                <label for="email">
                  <strong>E-mail</strong>
                </label>
                <input type="text" id="email" placeholder="Your Email" name="email" required>
                <label for="name">
                  <strong>Name</strong>
                </label>
                <input type="text" id="name" placeholder="Your Name" name="name" required>
                <button type="submit" class="btn">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
              </form>
            </div>
          </div>

          <div class="main-overview">
            <div class="overviewCard">
              <div class="overviewCard-icon--document">
                 <i class="far fa-file-alt"></i>
              </div>
              <div class = 'left_div'>
                <h3 class="overviewCard-title text-light"> Company: <strong><%=data[0].company%> </strong></h3>
                <br>
                <h3 class="overviewCard-title text-light">  Address:</h3>
                <p class="overviewCard-subtitle "> 300 North LaSalle, Chicago, IL 60654 </p>
              </div>
            </div>













            </div><!-- /.main-cards -->
            <div class="main-overview">
              <div class="overviewCard">
                <div class="overviewCard-icon--document">
                   <i class="far fa-file-alt"></i>
                </div>
                <div class = 'left_div'>
                  <h3 class="overviewCard-title text-light"> Membership: <strong>Royal Penguin</strong> </h3>
                  <br>
                  <button class = "button" href = "https://penguindocketing.webflow.io/pricing"> Upgrade today </button>
                </div>
                <div class = "center">
                    <h4 class="overviewCard-title text-light"> Membership since 2022</h4>
                </div>
              </div>
            </div>




            <div class = "documents-left">
                        <div class="card">
                          <div class="card__header">
                            <div class="card__header-title text-light">Recent <strong>Documents</strong>
                              <a href="#" class="card__header-link text-bold">View All</a>
                            </div>
                            <div class="settings">
                              <div class="settings__block"><i class="fas fa-edit">Edit</i></div>
                              <div class="settings__block"><i class="fas fa-cog"></i></div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="documents">
                              <div class="document">
                                <div class="document__img"></div>
                                <div class="document__title">Application Name</div>
                                <div class="document__date">Application Date</div>
                              </div>
                              <div class="document">
                                <div class="document__img"></div>
                                <div class="document__title">Application Name</div>
                                <div class="document__date">Application Date</div>
                              </div>
                              <div class="document">
                                <div class="document__img"></div>
                                <div class="document__title">Application Name</div>
                                <div class="document__date">Application Date</div>
                              </div>
                              <div class="document">
                                <div class="document__img"></div>
                                <div class="document__title">Application Name</div>
                                <div class="document__date">Application Date</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>








        </main>
        <aside class="sidenav">
          <div class="sidenav__brand">
            <i class="fas fa-feather-alt sidenav__brand-icon"></i>
            <a class="sidenav__brand-link" href="https://penguindocketing.webflow.io/">PDS<span class="text-light"></span></a>
            <i class="fas fa-times sidenav__brand-close"></i>
          </div>
          <div href = '/dashboard' class="sidenav__profile">
            <div class="sidenav__profile-avatar"></div>
            <div class="sidenav__profile-title text-light">User U.</div>
          </div>
          <div class="row row--align-v-center row--align-h-center">
            <ul class="navList">
              <li class="navList__heading">Dashboard<i class="far fa-file-alt"></i></li>
                <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
                  <span class="navList__subheading-title">Messages</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">New</li>
                  <li class="subList__item">Inbox</li>
                  <li class="subList__item">Create New</li>
                </ul>
              </li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-plane-departure"></i></span>
                  <span class="navList__subheading-title">USPTO Status</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Processing</li>
                  <li class="subList__item">Completed</li>
                  <li class="subList__item">Received</li>
                </ul>
              </li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="far fa-angry"></i></span>
                  <span class="navList__subheading-title">Case Reminders</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Applications Started</li>
                  <li class="subList__item">Applications Done</li>
                </ul>
              </li>

              <li class="navList__heading">Communication<i class="far fa-envelope"></i></li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-envelope"></i></span>
                  <span class="navList__subheading-title">Add</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Add</li>
                  <li class="subList__item">Add</li>
                  <li class="subList__item">Add</li>
                </ul>
              </li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-eye"></i></span>
                  <span class="navList__subheading-title">Add</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Add</li>
                  <li class="subList__item">Add</li>
                  <li class="subList__item">Add</li>
                </ul>
              </li>
               <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-book-open"></i></span>
                  <span class="navList__subheading-title">Add</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Add</li>
                  <li class="subList__item">Add</li>
                  <li class="subList__item">Add</li>
                </ul>
              </li>

              <li class="navList__heading">Applications<i class="far fa-image"></i></li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-mountain"></i></span>
                  <span class="navList__subheading-title">In Progress</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">App 1</li>
                  <li class="subList__item">App 2</li>
                </ul>
              </li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-wine-glass-alt"></i></span>
                  <span class="navList__subheading-title">Completed</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">View Full list</li>
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                </ul>
              </li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-graduation-cap"></i></span>
                  <span class="navList__subheading-title">What needs to be done?</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                </ul>
              </li>

              <li class="navList__heading">Notifications<i class="fas fa-chart-bar"></i></li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-credit-card"></i></span>
                  <span class="navList__subheading-title">Application Deadlines</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                </ul>
              </li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-phone"></i></span>
                  <span class="navList__subheading-title">New Applications</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item"></li>
                  <li class="subList__item">See new applications</li>
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                </ul>
              </li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-plane"></i></span>
                  <span class="navList__subheading-title">Document Editor</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Editor Home</li>
                  <li class="subList__item">Create New Document</li>
                  <li class="subList__item">Edit Document</li>
                  <li class="subList__item">Add/Delete</li>
                </ul>
              </li>

              <li class="navList__heading">USPTO Status<i class="fas fa-calendar-alt"></i></li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-wine-glass-alt"></i></span>
                  <span class="navList__subheading-title">Current Submissions</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                </ul>
              </li>
              <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-school"></i></span>
                  <span class="navList__subheading-title">Previous Submissions</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                  <li class="subList__item">Add/Delete</li>
                </ul>
              </li>
              <li>
                    <div class="navList__subheading row row--align-v-center">
                      <span class="navList__subheading-icon"><i class="fas fa-users"></i></span>
                      <span class="navList__subheading-title">Status/Responses</span>
                    </div>
                    <ul class="subList subList--hidden">
                      <li class="subList__item">Add/Delete</li>
                      <li class="subList__item">Add/Delete</li>
                      <li class="subList__item">Add/Delete</li>
                      <li class="subList__item">Add/Delete</li>
                    </ul>
                  </li>
            </ul>
          </div>

        </aside>

        </main>

        <footer class="footer">
          <p><span class="footer__copyright">&copy;</span> 2020 PDS</p>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        function openForm() {
          document.getElementById("popupForm").style.display = "block";
        }
        function closeForm() {
          document.getElementById("popupForm").style.display = "none";
        }
        </script>


        <script>
            /* Scripts for css grid dashboard */

      $(document).ready(() => {
        addResizeListeners();
        setSidenavListeners();
        setUserDropdownListener();
        setMenuClickListener();
        setSidenavCloseListener();
      });

      // Set constants and grab needed elements
      const sidenavEl = $('.sidenav');
      const gridEl = $('.grid');
      const SIDENAV_ACTIVE_CLASS = 'sidenav--active';
      const GRID_NO_SCROLL_CLASS = 'grid--noscroll';

      function toggleClass(el, className) {
        if (el.hasClass(className)) {
          el.removeClass(className);
        } else {
          el.addClass(className);
        }
      }

      // User avatar dropdown functionality
      function setUserDropdownListener() {
        const userAvatar = $('.header__avatar');

        userAvatar.on('click', function(e) {
          const dropdown = $(this).children('.dropdown');
          toggleClass(dropdown, 'dropdown--active');
        });
      }

      // Sidenav list sliding functionality
      function setSidenavListeners() {
        const subHeadings = $('.navList__subheading'); console.log('subHeadings: ', subHeadings);
        const SUBHEADING_OPEN_CLASS = 'navList__subheading--open';
        const SUBLIST_HIDDEN_CLASS = 'subList--hidden';

        subHeadings.each((i, subHeadingEl) => {
          $(subHeadingEl).on('click', (e) => {
            const subListEl = $(subHeadingEl).siblings();

            // Add/remove selected styles to list category heading
            if (subHeadingEl) {
              toggleClass($(subHeadingEl), SUBHEADING_OPEN_CLASS);
            }

            // Reveal/hide the sublist
            if (subListEl && subListEl.length === 1) {
              toggleClass($(subListEl), SUBLIST_HIDDEN_CLASS);
            }
          });
        });
      }

      function toggleClass(el, className) {
        if (el.hasClass(className)) {
          el.removeClass(className);
        } else {
          el.addClass(className);
        }
      }

      // If user opens the menu and then expands the viewport from mobile size without closing the menu,
      // make sure scrolling is enabled again and that sidenav active class is removed
      function addResizeListeners() {
        $(window).resize(function(e) {
          const width = window.innerWidth; console.log('width: ', width);

          if (width > 750) {
            sidenavEl.removeClass(SIDENAV_ACTIVE_CLASS);
            gridEl.removeClass(GRID_NO_SCROLL_CLASS);
          }
        });
      }

      // Menu open sidenav icon, shown only on mobile
      function setMenuClickListener() {
        $('.header__menu').on('click', function(e) { console.log('clicked menu icon');
          toggleClass(sidenavEl, SIDENAV_ACTIVE_CLASS);
          toggleClass(gridEl, GRID_NO_SCROLL_CLASS);
        });
      }

      // Sidenav close icon
      function setSidenavCloseListener() {
        $('.sidenav__brand-close').on('click', function(e) {
          toggleClass(sidenavEl, SIDENAV_ACTIVE_CLASS);
          toggleClass(gridEl, GRID_NO_SCROLL_CLASS);
        });
      }

        </script>
      </div>
</body>
</html>
